
<div class="min-h-screen flex items-center justify-center">
  <h2 class="scroll-text text-gray-border text-4xl max-w-sm lg:text-7xl 2xl:text-8xl tracking-tighter font-bold lg:max-w-4xl 2xl:max-w-7xl text-center">
    Hi, I’m Daniel Glover, a fullstack developer with 5 years of
    experience crafting modern, high-performing platforms that
    help businesses stand out. My passion lies in creating digital
    experiences that are not only visually stunning but also
    user-friendly and results-driven.
  </h2>
</div>
