<div class="w-screen h-full flex flex-col items-start py-5 lg:mt-4 px-7 lg:px-24">

  <div class="header flex w-full items-center justify-between">
    <span class="fustat-bold text-2xl lg:text-3xl 2xl:text-4xl text-brand-primary">Projects</span>

    <div class="line-container flex items-center gap-4">
      <svg width="200" height="10" viewBox="0 0 200 1" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0" y1="0.5" x2="200" y2="0.5" stroke="#DADADA" stroke-width="1" stroke-linecap="round"/>
        <line class="lineTwo" x1="0" y1="0.5" x2="200" y2="0.5" stroke="#3B82F6" stroke-width="2" stroke-linecap="round"/>
      </svg>
      <!-- Arrow SVG or icon -->
      <svg width="40" height="40" viewBox="0 0 24 24" fill="none" class="text-blue-600">
        <path d="M9 18l6-6-6-6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>


</div>
