<div class="w-screen h-screen flex flex-col items-center gap-4 justify-center">

  <span class="second-coming font-sans font-light text-sm lg:text-base 2xl:text-xl text-gray-text mt-12">Crafting Digital Goods Since 2022</span>

  <div class="flex flex-col w-full items-center lg:gap-12 lg:mt-5">
    <span class="first-text fustat-bold text-brand-primary text-8xl lg:text-[12rem] lg:leading-36 2xl:text-[14rem] 2xl:leading-44 tracking-tighter">Daniel</span>
    <span class="second-text fustat-bold text-brand-primary text-8xl lg:text-[12rem] lg:leading-36 2xl:text-[14rem] 2xl:leading-44 tracking-tighter">Glover</span>
  </div>

  <svg class="second-coming w-8 h-8 text-brand-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
    <rect width="256" height="256" fill="none"/>
    <polyline class="path1" points="64 88 16 128 64 168" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
    <polyline class="path2" points="192 88 240 128 192 168" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
    <line class="path3" x1="160" y1="40" x2="96" y2="216" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
  </svg>

  <span class="second-coming font-sans max-w-xs text-sm lg:max-w-xl lg:text-lg 2xl:text-xl text-center font-light text-gray-text">I'm Daniel Glover, a Full-Stack Developer passionately creating digital experiences and solutions for over 5 years</span>


  <div class="flex second-coming flex-col items-center gap-2 mt-12">
    <svg width="12" height="25" viewBox="0 0 1 11" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line x1="0.5" y1="0.5" x2="0.5" y2="10.5" stroke="#DADADA" stroke-linecap="round"/>
      <line class="lineOne" x1="0.5" y1="0.5" x2="0.5" y2="10.5" stroke="#3B82F6" stroke-linecap="round" stroke-width="1"/>
    </svg>

    <span class="font-sans uppercase max-w-sm text-xs lg:max-w-xl lg:text-sm text-center font-light text-gray-text">Scroll</span>
  </div>

</div>
